<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Declaración explícita del uso de hardware -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        tools:targetApi="31">

        <!-- FileProvider para manejo de imágenes -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.appgestionpersistencia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Declaración de actividades -->
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".OperacionesElementos.ModificarElemento"
            android:exported="false"
            android:theme="@style/ActivityBackground2" />
        <activity
            android:name=".OperacionesElementos.AniadirElemento"
            android:exported="false"
            android:theme="@style/ActivityBackground3" />
        <activity
            android:name=".ListaElementos"
            android:exported="false"
            android:theme="@style/ActivityBackground1" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/ActivityBackground1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
